// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label.round {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  a {
    color: #fff;
  }
}

nav.top-bar li.name {
  h1 a {
    display: inline;
  }
  img {
    display: inline;
  }
}

nav.top-bar {
  margin-bottom: 2em;
}

ul.tools, ul.citations {
  li {
    margin-bottom: 1em;
  }

  margin-left: 0;
  list-style: none;
  clear: both;

  .stargazers_count {
    margin-right: 1em;
  }
  li {
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.row.form, .row.github {
  margin-bottom: 2em;
}


// body {
//   margin-top: 2em;
// }
h1.headline {
  margin-bottom: 2em;
}

h3.quickstats {
  margin-top: 2em;
  margin-bottom: 2em;
}
img#logo {
  height: 289px;
  width: 300px;
}

img#logo-small {
  height: 96px;
  width: 100px;
}


.true {
  color: #8cc63f;
}
.false {
  color: #c1272d;
}

span.reproducibility_score {
  color: #eee;
}
ul.reproducibility_checklist {
  list-style: none;
  margin-left: 0;
  li {
    margin-right: 1em;
    display: inline;
  }
}

// Pagination control
.pagination {
  margin-top: 1em;
  margin-bottom: 2em;

  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
  }

  .disabled {
    display: none;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background: #29abe2;
    color: white;
  }

  a:hover, a:focus {
    color: darken(#29abe2, 10%);
  }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
